<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Q&amp;A</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.controllers.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserValidationServlet</display-name>
    <servlet-name>UserValidationServlet</servlet-name>
    <servlet-class>com.controllers.UserValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidationServlet</servlet-name>
    <url-pattern>/UserValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.controllers.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionDetailsServlet</display-name>
    <servlet-name>QuestionDetailsServlet</servlet-name>
    <servlet-class>com.controllers.QuestionDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionDetailsServlet</servlet-name>
    <url-pattern>/QuestionDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllQuestions</display-name>
    <servlet-name>AllQuestions</servlet-name>
    <servlet-class>com.controllers.AllQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllQuestions</servlet-name>
    <url-pattern>/AllQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Answers</display-name>
    <servlet-name>Answers</servlet-name>
    <servlet-class>com.controllers.Answers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answers</servlet-name>
    <url-pattern>/Answers</url-pattern>
  </servlet-mapping>
</web-app>